* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
.container-fluid {
    min-height: 100% !important;
    height: 100%;
}

:root {

    /* Colors: */
    --unnamed-color-707070: #707070;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-c6692a: #C6692A;
    --unnamed-color-00110f: #00110F;
    --unnamed-color-fe9240: #FE9240;
    --unnamed-color-ebeffb: #EBEFFB;
    --unnamed-color-7d1230: #7D1230;
    --unnamed-color-c3d7f2: #C3D7F2;
    --unnamed-color-003b36: #003B36;
    --unnamed-color-02bfae: #02BFAE;
    --unnamed-color-001916: #001916;
    --unnamed-color-d2e1f6: #D2E1F6;
    --unnamed-color-e1ebf8: #E1EBF8;
    --unnamed-color-f8fafd: #F8FAFD;
}


body {
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    background-color: transparent !important;
    overflow: hidden;
}


.display_1 {
    display: grid;
    /* display: none; */
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
}


#logo {
    width: 39px;
    height: 39px;
    animation-duration: 10000ms;
    margin-top: -30px;
}

#logo1 {
    width: 39px;
    height: 39px;
    animation-duration: 10000ms;
}



.main-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: baseline;


}


/* .header-row-1 {

     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-content: flex-start;
     align-items: baseline;

 }

 .header-row-2 {


     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-end;
     align-content: flex-start;
     align-items: baseline;



 } */

.header-item {
    margin-left: 10px;
}










.imenik {
    text-align: left;
    font: normal normal bold 2.2rem Segoe UI;
    color: #010000;


}


.slogan {
    font: normal normal normal 1.6rem Segoe UI;
    letter-spacing: 0px;
    color: #010000;
    opacity: 0.53;




}

.prijava {
    /* UI Properties */
    font: normal normal bold 1.9rem Segoe UI;
    color: #FE9240;
    opacity: 0.9;
}




.content {
    padding-top: 5%;
}


/* .main {

     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;

 } */

.content-l {

    padding-top: 10%;
}

/* .content-r {


     display: flex;
     align-items: center;
     justify-content: center;

 } */




.naslov {
    /* Layout Properties */

    text-align: left;
    font: normal normal bold 3.2rem Segoe UI;
    letter-spacing: 0px;
    color: #010000;
    opacity: 1;
}

.tekst {

    text-align: left;
    font: normal normal normal 1.8rem Segoe UI;
    letter-spacing: 0px;
    color: #010000;
    opacity: 0.59;
}




#slika {

    width: 100%;
    height: 600px;
    animation: normal;
}

.content-b {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;

}







/* .button-1 {

     outline: none;
     cursor: pointer;
     font: normal normal bold 15px Segoe UI;

     line-height: 1;
     border-radius: 500px;
     transition-property: background-color, border-color, color, box-shadow, filter;
     transition-duration: .3s;
     border: 1px solid transparent;
     letter-spacing: 2px;
     min-width: 160px;
     text-transform: uppercase;
     white-space: normal;
     text-align: center;
     padding: 16px 14px 18px;
     color: #fff;
     background-color: #02BFAE;

     height: 53px;
     width: 180px;


 }

 .button-1:hover {
     background-color: #10dfcd;
 }

 .button-1:active {
     background-color: #10dfcd;
 } */





#display_2 {
    display: none;
    justify-content: center;
    background-color: transparent;
    width: 40%;
    margin: auto;
    padding-left: 4%;
    padding-right: 4%;
    z-index: 55;
    margin-top: -40%;

}

.forma {

    margin: 0;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FCFCFC;
    border-radius: 0px 0px 45px 45px;

    font: normal normal bold 0.9rem Segoe UI;
}



/* .forma>div {
     width: calc(50% - 10px);
 }

 .forma>div>label {
     display: flex;
     margin-bottom: 5px;
 }

 .forma>div>input,
 .forma>div>select {
     width: 100%;
     margin-bottom: 15px;
     padding: 5px;
     border: 1px solid #ccc;
     border-radius: 3px;
     box-sizing: border-box;
 } */



.zaglavlje {
    height: 100px;
    background: #1DC6B6 0% 0% no-repeat padding-box;
    font: normal normal bold 1rem Segoe UI;
    color: white;
    border-radius: 20px 20px 0 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

#modal-btns{
padding-bottom: 30px;
margin: auto;
padding-left: 24px;

}

.forma > .row {
    padding-top: 4%;
    margin: auto;
}

.modal-row {
    padding-top: 3%;
    
}

/* .button-forma {
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    max-width: 100px !important;
    outline: none;
    border: none !important;
    cursor: pointer;
    font: normal normal bold 1rem Segoe UI;
    border-radius: 7px !important;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    letter-spacing: 2px;
    min-width: 160px;
    min-height: 40px;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #02BFAE;
    border-radius: 10%;

} */


/* .button-forma:hover {
    background-color: #10dfcd;
}

.button-forma:active {
    background-color: #10dfcd;
} */



input#ime,
input#prezime,
input#datum-rodenja,
input#ulica,
input#mjesto,
input#postanski-broj,
input#email,
input#broj-mobitela {
    width: 100%;
    height: 32px;
    margin: auto;
}


.datum-rodenja {
    font: normal normal bold 0.8rem Segoe UI;

}

.header-row-overlay {


    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;


}




@media (max-width: 768px) {


/* 
    .tabela {
        display: inline-block;


    }

    .tabela tr td:nth-child(3) {
        padding-left: 20px !important;

    }

    .tabela tr td:nth-child(3) {
        padding-left: 10px !important;

    }

    .tabela tr td:nth-child(6) {
        padding-left: 20px !important;

    }



    .tabela tr th:nth-child(3) {
        padding-left: 20px !important;

    }

    .tabela tr th:nth-child(3) {
        padding-left: 10px !important;

    }

    .tabela tr th:nth-child(6) {
        padding-left: 20px !important;

    }


    .tabela tr:first-child td:first-child {
        border-top-left-radius: 20px;
    }

    .tabela tr:first-child td:last-child {
        border-top-right-radius: 20px;
    }

    .tabela tr:last-child td:first-child {
        border-bottom-left-radius: 20px;
    }

    .tabela tr:last-child td:last-child {
        border-bottom-right-radius: 20px;
    }




    .tabela tbody tr:hover td,
    .tabela tbody tr:hover span {
        color: #fff !important;
    }

    .tabela tbody tr:hover td:nth-child(3) span {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.6);
    }
 */










    button.button-popis {
        margin-top: 20px;


    }
/* 
    .tabela {
        border-spacing: 5px;
    }
 */


    body {
        overflow: hidden;
    }

    .imenik-lista {
        height: calc(100% - 30px);
        overflow-y: auto;
        /* height: 300px; */

    }

    .test2 {
        height: 820px;
        overflow-y: scroll;
    }

    .imenik-lista {
        min-width: 700px;
    }

    /* div#display_3{
    display: none;
} */
    /* #display_4{
    display: flex;
    margin: auto;
} */
    .container-fluid {
        overflow-x: hidden;
        background-color: white !important;
        padding-top: 50px;
        display: block;
        width: 100%;
        height: 100vh;

    }

    /* form.forma{
        display: flex;
max-width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        height: 600px;
     align-items: center;   
     width: 500px;
     height: 700px;
     margin-top:-210px;
    } */

    /* .header-item {
        display: none;
    } */




    /* .button-forma-negativ{
    display: flex;
margin: auto;    }
     .button-forma{
        display: flex;
margin: auto;    }
    
    */

    /* .header-row-overlay{
    display: none;
}; */


    div#imenik-lista.imenik-lista {
        width: 100% !important;
        overflow-x: scroll;
        max-height: 700px !important;
        position: fixed;
    }

    /* .tabela {
        display: block;

        width: 1400px !important;
        overflow-y: hidden !important;
    } */

    div#display_3 {
        margin: 0;
    }

    .test2 {
        overflow: hidden;
    }




    /* .header-row-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    align-items: center;

} */
    /* body {
    overflow-x: scroll;
} */





}









/* Fullscreen-1 */
@media screen and (max-width: 600px) {


    /* .main-header {
         padding-top: 7%;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         align-items: center;
     } */

    /* .header-row-1 {
         align-items: end;
     } */


    .slogan {
        display: none;
    }

    .prijava {
        display: none;
    }

    .content-b {
        display: flex;
        align-content: center;

        justify-content: center;



    }

    #slika {
        max-width: 400px;
        margin-top: 10%;
    }

    .tekst {

        display: none;
    }


    .naslov {
        /* Layout Properties */
        max-width: 350px;
        font-size: 2rem;
        text-align: center;
        align-items: center;
        padding-top: 10%;
    }

    /* .content-l {
         font-size: 1rem;
         align-items: center;
         vertical-align: middle;
         text-align: center;

         justify-content: center;
     } */

    /* .content-r {
         max-width: 400px;
         display: flex;
         justify-content: center;
         margin: auto;
     } */



    .button-1 {
        margin-top: 23%;
        height: 53px;
    }




}











#display_3 {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* display: grid; */
    display: none;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    z-index: -1;

    background-color: transparent !important;




}

.imenik-popis {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .header-row-overlay-popis{
    
    display: flex;
	justify-content: baseline;
	align-items: center;
    cursor: pointer;

} */

/* .button-popis{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
} */


/* .button-popis{
    outline: none;
     cursor: pointer;
     font: normal normal bold 15px Segoe UI;

     line-height: 1;
     border-radius: 500px;
     transition-property: background-color, border-color, color, box-shadow, filter;
     transition-duration: .3s;
     border: 1px solid transparent;
     letter-spacing: 2px;
     min-width: 160px;
     text-transform: uppercase;
     white-space: normal;
     text-align: center;
     padding: 16px 14px 18px;
     color: #fff;
     background-color: #02BFAE;

     height: 43px;
     width: 80px;

}

.button-popis:hover {
    background-color: #10dfcd;
}

.button-popis:active {
    background-color: #10dfcd;
} */





.imenik-ime{
    padding-left: 10px;
    
}

.imenik-email{
    padding-left: 8px;

}
.imenik-broj{
    padding-left: 6px;

}

.imenik-datum{
    padding-left: 6px;

}




/* address list */


.imenik-lista {
    margin: 1rem 0;
    min-height: 100px;
    cursor: pointer;
    /* overflow-x: scroll; */
    /* overflow-y: scroll;  */

}

/* .tabela {
    margin-top: 2rem;
    width: 100%;
    text-align: left;
    border-collapse: collapse;

} */


.tabela {
    /* margin-top: 2rem;
    width: 100%;
    text-align: left;
    border-collapse: collapse; */

    width: 100%;
    vertical-align: baseline;

}

.tabela thead {
    border-bottom: 1px solid #e3e4f1;
  justify-content: baseline;
  align-items: center;

}

.tabela thead tr th {
    padding-bottom: 0.8rem;
}


.tabela tbody td {
    padding: 1.5rem 0;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
}

.tabela tbody td:nth-child(1) {
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-weight: 800;

}

.tabela tbody td:nth-child(2) {
    font-weight: 800;
}



.tabela tbody td:nth-child(3) span {
    background-color: transparent !important;
    display: inline-block;
    padding: 0.3rem 0.6rem;
    border-radius: 0px;
}

.tabela tbody tr {
    cursor: pointer;
}

.tabela tbody tr:hover {
    background-color: #F89649;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.tabela tr:first-child td:first-child {
    border-top-left-radius: 20px;
}

.tabela tr:first-child td:last-child {
    border-top-right-radius: 20px;
}

.tabela tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

.tabela tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}




.tabela tbody tr:hover td,
.tabela tbody tr:hover span {
    color: #fff !important;
}

.tabela tbody tr:hover td:nth-child(3) span {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
} 




.imenik-lista {
    height: calc(100% - 130px);
    overflow-y: auto;
    overflow-x: auto;
    /* height: 30px; */
    /* height: 300px; */

}

.test2 {
    height: 100%;
}


/* 
-----------------------------------------------------
*/
.addressing-name {
    color: var(--dark-blue);
}






/* .div1{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
  

}

.div1-1{
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100%;
}
.div1-2{
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100%;
} */







#display_4 {
    width: 100vw;
    height: 100vh;
    display: none;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    z-index: 100;
    justify-content: center;

    background-color: transparent !important;
}


/* .button-forma-negativ {
        display: flex;
        justify-content: center;
        flex-direction: wrap;
        max-width: 100px !important;
        outline: none;
        border: none !important;
        cursor: pointer;
        font: normal normal bold 1rem Segoe UI;
        border-radius: 7px !important;
        transition-property: background-color, border-color, color, box-shadow, filter;
        transition-duration: .3s;
        letter-spacing: 2px;
        min-width: 160px;
        padding: 16px 14px 18px;
        color: #fff;
        background-color: #E04B59;
        border-radius: 10%;
    
    }
    
    
    .button-forma-negativ:hover {
        background-color: #E04B59;
        color: white !important;
    }
    
    .button-forma-negativ:active {
        background-color: #E04B59;
        color: white !important;

    } */


.errMsg {
    border: 1px solid #d33c41 !important;
}

.positiveMsg {
    border: 1px solid #02BFAE !important;

}

/* .overflow {
        overflow-y: scroll; 

    } */



/* #update-btn{
        outline: none;
        border: none !important;
        cursor: pointer;
        font: normal normal bold 1rem Segoe UI;
        border-radius: 7px !important;
        transition-property: background-color, border-color, color, box-shadow, filter;
        transition-duration: .3s;
        letter-spacing: 2px;
        min-width: 100px;
        height: 40px;
        color: #fff;
        background-color: #02BFAE;
    }

    #delete-btn{
        outline: none;
        border: none !important;
        cursor: pointer;
        font: normal normal bold 1rem Segoe UI;
        border-radius: 7px !important;
        transition-property: background-color, border-color, color, box-shadow, filter;
        transition-duration: .3s;
        letter-spacing: 2px;
        min-width: 100px;
        height: 40px;
        color: #fff;
        background-color: #E04B59;
    
    }

    .update-btn:hover {
        background-color: #10dfcd;
    }
    
    .update-btn:active {
        background-color: #10dfcd;
    }

    .update-btn:hover {
        background-color: #e95665;
    }
    
    .update-btn:active {
        background-color: #e95665;
    } */

/* #btnSpremi{
        
        outline: none;
        border: none !important;
        cursor: pointer;
        font: normal normal bold 1rem Segoe UI;
        border-radius: 7px !important;
        transition-property: background-color, border-color, color, box-shadow, filter;
        transition-duration: .3s;
        letter-spacing: 2px;
        min-width: 100px;
        height: 40px;
        color: #fff;
        background-color: #02BFAE;
    }


    #btnSpremi:hover {
            background-color: #10dfcd;
        }
        
        #btnSpremi:active {
            background-color: #10dfcd;
        } */